.carcass {
    max-width: 828px;
    margin: 48px auto 80px;
    border: solid 1px #b9babd;
    background-color: $fhhealth-color-white;
}

.middle-loader {
    margin: 0 auto;
    width: 150px;

    svg {
        path {
            fill: $fhhealth-color-yellow;
        }
    }
}
