@import '../abstracts/_mixins.scss';

html,
body {
  font-family: $fhhealth-font-DM-regular;
  height: 100%;
  overflow-x: hidden;
  background-color: $fhhealth-color-grey-bg;
}

#__next {
  @include setDisplay(flex, unset, unset, column);
  height: 100%;
}

.main-content {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;

  &_conference {
    margin: 0;
    max-width: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.input {
  outline: none;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.arrow-icon {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #302e2f;
}

.list {
  list-style-type: none;
}

.modal {
  @include setPosition(absolute, 0, unset, 0, unset);
  height: 100%;
  width: 100%;
  background-color: $fhhealth-color-dark-grey-bg;
  z-index: 9;
}

.modal__content {
  @include setDisplay(flex, center, center);
  height: 100%;
  width: 100%;
}

.em-link {
  color: $fhhealth-color-orange;
  text-decoration: underline;
}

.wrong-kit-code {
  margin-top: 8px;
  font-size: 14px;
  color: $fhhealth-color-danger;
  line-height: 1.4;
}