@font-face {
  font-family: "SF-Bold";
  src: url("/public/fonts/SFProText-Bold.eot");
  src: url("/public/fonts/SFProText-Bold.eot?#iefix") format("embedded-opentype"),
  url("/public/fonts/SFProText-Bold.woff2") format("woff2"),
  url("/public/fonts/SFProText-Bold.woff") format("woff"),
  url("/public/fonts/SFProText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF-Semibold";
  src: url("/public/fonts/SFProText-Semibold.eot");
  src: url("/public/fonts/SFProText-Semibold.eot?#iefix") format("embedded-opentype"),
  url("/public/fonts/SFProText-Semibold.woff2") format("woff2"),
  url("/public/fonts/SFProText-Semibold.woff") format("woff"),
  url("/public/fonts/SFProText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF-Medium";
  src: url("/public/fonts/SFProText-Medium.eot");
  src: url("/public/fonts/SFProText-Medium.eot?#iefix") format("embedded-opentype"),
  url("/public/fonts/SFProText-Medium.woff2") format("woff2"),
  url("/public/fonts/SFProText-Medium.woff") format("woff"),
  url("/public/fonts/SFProText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF-Regular";
  src: url("/public/fonts/SFProText-Regular.eot");
  src: url("/public/fonts/SFProText-Regular.eot?#iefix") format("embedded-opentype"),
  url("/public/fonts/SFProText-Regular.woff2") format("woff2"),
  url("/public/fonts/SFProText-Regular.woff") format("woff"),
  url("/public/fonts/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
