// colors
$fhhealth-color-white: #ffffff;
$fhhealth-color-dark-black: #232325;
$fhhealth-color-black: #27303b;
$fhhealth-color-light-black: #070d27;
$fhhealth-color-dark-bg: #202832;

$fhhealth-color-grey-bg: #f8f7f6;
$fhhealth-border-color: rgba(162, 174, 191, 0.5);
$fhhealth-color-dark-grey-bg: #ada9a9de;
$fhhealth-color-neutral-bg: #eceff1;

$fhhealth-color-carcass-border: #b9babd;
$fhhealth-color-solid-border: #eaedf0;
$fhhealth-color-dashed-border: #bfbebf;
$fhhealth-color-test-analysis-data-border: #d2d3d4;
$fhhealth-color-lab-info-border: #e4e7e9;
$fhhealth-color-dark-gray-border: rgba(151, 151, 151, 0.25);
$fhhealth-color-orange: #d59936;
$fhhealth-color-yellow: #ffeebf;
$fhhealth-color-dark-yellow: #ffb439;
$fhhealth-color-light-gray-text: #7f7a7a;

$fhhealth-color-dark-blue-bg: #72b5fd;
$fhhealth-color-blue-bg: #e6f1fc;
$fhhealth-color-blue-btn: #007aff;
$fhhealth-color-lime-blue: #2dc0ac;
$fhhealth-color-light-blue: #a3b7d0;

$fhhealth-color-dark-red-bg: #ff7c89;
$fhhealth-color-red-bg: #ffe2e5;
$fhhealth-color-danger: #ff394d;
$fhhealth-color-red-btn: #ff394d;

$fhhealth-color-dark-green-bg: #89d3a4;
$fhhealth-color-green-bg: #dfefe4;
$fhhealth-color-green-btn: #52c17c;
$fhhealth-color-limegreen-btn: #32cd32;
$fhhealth-color-gold: #ffd700;


// font
$fhhealth-font-SF-bold: "SF-Bold", serif;
$fhhealth-font-SF-medium: "SF-Medium", serif;

$fhhealth-font-PT-bold: "PTSerif-Bold", serif;

$fhhealth-font-DM-bold: "DMSans-Bold", serif;
$fhhealth-font-DM-medium: "DMSans-Medium", serif;
$fhhealth-font-DM-regular: "DMSans-Regular", serif;


// Medias
$fhhealth-media-xs: 429.98px;
$fhhealth-media-sm: 826.98px;
$fhhealth-media-md: 949.98px;
$fhhealth-media-lg: 1059.98px;
$fhhealth-media-extra-lg: 1599.98px;
