@media (max-width: $fhhealth-media-sm) {
  .footer-wrapper {
    .important-information {
      padding: 20px;
    }
    .doctor-info {
      flex-direction: column;
      align-items: flex-start;
      &__signature {
        margin-left: 20px;
      }
      &__title {
        margin-top: 8px;
      }
    }
    .legal-notice {
      padding: 20px;
      .content {
        font-size: 12px;
      }
    }
  }
}