@import "styles/scss/abstracts/mixins";

@media (max-width: $fhhealth-media-sm) {
  .footer-wrapper {
    .important-information {
      padding: 20px;
    }
    .doctor-info {
      @include setDisplay(flex, unset, flex-start, column);
      &__signature {
        margin-left: 20px;
      }
      &__title {
        margin-top: 8px;
      }
    }
    .legal-notice {
      padding: 20px;
      .content {
        font-size: 12px;
      }
    }
  }
}
