@media (max-width: $fhhealth-media-sm) {
  .header-wrapper {
    .test-type-wrapper {
      padding: 20px;
    }
    .user-info {
      flex-direction: column;
      .left-column {
        padding: 20px 0 0 20px;
        flex-direction: row;
        .field-answer-wrapper:first-child {
          margin-right: 76px;
        }
      }
      .right-column {
        width: 80%;
        .right-column__first {
          padding: 16px 0 4px 20px;
        }
      }
    }
  }
}

@media (max-width: $fhhealth-media-xs) {
  .header-wrapper {
    .test-type-wrapper {
    }
    .user-info {
      .left-column {
        padding: 20px 20px 0 20px;
        justify-content: space-between;
        .field-answer-wrapper:first-child {
          margin-right: 0;
        }
      }
      .right-column {
        flex-direction: column;
        width: 100%;
        .right-column__first {
          border-right: none;
          border-bottom: solid 1px rgba(171, 182, 196, 0.25);
          width: 100%;
        }
        .right-column__second {
          width: 100%;
          padding: 16px 0 4px 20px;
        }
      }
    }
  }
}