@media (max-width: $fhhealth-media-sm) {
  .lab-info-wrapper {
    flex-direction: column;
    .left-part-wrapper {
      padding: 24px 0 12px 20px;
      border: solid 1px $fhhealth-color-lab-info-border;
      .left-top-wrapper {
        .first-column {
          width: 45%;
        }
      }
    }
    .right-part-wrapper {
      padding: 16px 0 12px 20px;
      width: 100%;
      .right-part-first-column {
        width: 45%;
      }
    }
  }
}
