@media (max-width: $fhhealth-media-sm) {
  .lab-info-wrapper {
    flex-direction: column;
    .left-part-wrapper {
      padding: 24px 0 12px 20px;
      border: solid 1px rgba(171, 182, 196, 0.25);

      .left-top-wrapper {

        .first-column {
          width: 45%;
          .test-answer {

          }
        }
        .second-column {

        }
      }
    }
    .right-part-wrapper {
      padding: 16px 0 12px 20px;
      width: 100%;
      .right-part-first-column {
        width: 45%;
      }
      .right-part-second-column {

      }
    }
  }
}
