@media (max-width: $fhhealth-media-sm) {
  .analysis-wrapper {
    padding: 24px;
    &__top-part {
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
    &__bottom-part {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin-top: 0;
    }
    &__parameter{
      margin-top: 24px;
    }
  }
}