@import "styles/scss/abstracts/mixins";

@media (max-width: $fhhealth-media-sm) {
  .web-portal-results {
    margin: 0;
    padding: 26px 16px 50px;
    .single-result {

      .single-result__info {
        line-height: 18px;
        align-items: center;
      }
    }
  }

  .test-result-wrapper {
    .test-result-text {
      @include setFontSizes(17px, 1.29, 0.2px);
      font-family: $fhhealth-font-DM-bold;
      margin: 20px 26px;
    }
  }
}
.wrapper__negative{
  background-color: $fhhealth-color-green-bg;
}
.wrapper__positive{
  background-color: $fhhealth-color-red-bg
}
.wrapper__inconclusive{
  background-color: $fhhealth-color-blue-bg
}
.wrapper__presumptivepositive{
  background-color: $fhhealth-color-red-bg
}
.wrapper__biorad-color{
 background-color: rgba(206, 216, 229, 0.25);
}
