@media (max-width: $fhhealth-media-sm) {
  .web-portal-results {
    padding: 0 16px;
    .single-result {
      .left {
        line-height: 18px;
      }
    }
  }

  .test-result-wrapper {
    .test-result-text {
      font-family: $fhhealth-font-DM-bold;
      font-size: 17px;
      line-height: 1.29;
      letter-spacing: 0.2px;
      margin: 20px 26px;

    }
  }
}
.wrapper__negative{
  background-color: $fhhealth-color-green-bg;
}
.wrapper__positive{
  background-color: $fhhealth-color-red-bg
}
.wrapper__inconclusive{
  background-color: $fhhealth-color-blue-bg
}
.wrapper__presumptivepositive{
  background-color: $fhhealth-color-red-bg
}
.wrapper__biorad-color{
 background-color: rgba(206, 216, 229, 0.25);
}