// colors
$fhhealth-color-white: #ffffff;
$fhhealth-color-dark-black: #232325;
$fhhealth-color-black: #27303b;
$fhhealth-color-light-black: #070d27;

$fhhealth-color-grey-bg: #f8f7f6;
$fhhealth-color-grey-text: rgba(39, 48, 59, 0.6);
$fhhealth-color-grey-border: rgba(39, 48, 59, 0.18);

$fhhealth-color-orange: #d59936;

$fhhealth-color-dark-blue-bg: #72b5fd;
$fhhealth-color-blue-bg: #e6f1fc;
$fhhealth-color-blue-btn: #007aff;

$fhhealth-color-dark-red-bg: #ff7c89;
$fhhealth-color-red-bg: #ffe2e5;
$fhhealth-color-red-btn: #ff394d;

$fhhealth-color-dark-green-bg: rgba(82, 193, 124, 0.6);
$fhhealth-color-green-bg: rgba(82, 193, 124, 0.15);
$fhhealth-color-green-btn: #52c17c;


// font
$fhhealth-font-SF-bold: "SF-Bold", serif;
$fhhealth-font-SF-medium: "SF-Medium", serif;

$fhhealth-font-PT-bold: "PTSerif-Bold", serif;

$fhhealth-font-DM-bold: "DMSans-Bold", serif;
$fhhealth-font-DM-medium: "DMSans-Medium", serif;
$fhhealth-font-DM-regular: "DMSans-Regular", serif;


// Medias
$fhhealth-media-sm: 699.98px;
$fhhealth-media-md: 949.98px;
$fhhealth-media-lg: 1199.98px;
$fhhealth-media-extra-lg: 1599.98px;
