// specific styles
$fhhealth-header-height: 100px;
$fhhealth-footer-height: 80px;

// margins
$fhhealth-margin-sm: 8px;
$fhhealth-margin-md: 16px;
$fhhealth-margin-lg: 32px;
$fhhealth-margin-xs: 64px;

// colors
$fhhealth-color-dark-blue: #27303b;
$fhhealth-color-grey: #808080;
$fhhealth-color-darkest-blue: #070d27;
$fhhealth-color-dark-mint: #52c17c;
$fhhealth-color-light-skin: #edd2a5;
$fhhealth-color-dull-orange: #d59936;
$fhhealth-color-red: #ff394d;
$fhhealth-color-white: #fff;
$fhhealth-color-light-blue: #007aff;

// font
$fhhealth-font-bold: "SF-Bold", serif;
$fhhealth-font-semibold: "SF-Semibold", serif;
$fhhealth-font-regular: "SF-Regular", serif;
$fhhealth-font-medium: "SF-Medium", serif;



// Medias
$fhhealth-media-sm: 699.98px;
$fhhealth-media-md: 899.98px;
$fhhealth-media-lg: 1199.98px;
$fhhealth-media-extra-lg: 1599.98px;
