@import '../abstracts/mixins';

.card-wrapper {
  display: block;
  text-align: center;
}

.card {
  @include setBorder(1px, $fhhealth-color-dark-gray-border);
  position: relative;
  background-color: $fhhealth-color-white;
  border-radius: 8px;
  max-width: 515px;
}

.card__body {
  @include setDisplay(flex, unset, unset, column);
  padding: 68px 48px 48px;
}

.card__close {
  @include setPosition(absolute, 24px, unset, unset, 24px);
}

.card__media {
  @include setDisplay(flex, center, center);
  @include setElementSize(419px, 238px);
  border-radius: 5px;

  &_sm {
    width: auto;
    height: auto;
  }

  &_with-bg {
    background-color: $fhhealth-color-grey-bg;
  }

  img {
    object-fit: contain;
  }
}

.card__content {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 48px;
}

.card__content-title {
  font-size: 24px;
  margin-bottom: 12px;
  color: $fhhealth-color-dark-black;
}

.card__content-message, .card-wrapper__message {
  font-size: 17px;
  line-height: 1.29;
  color: $fhhealth-color-light-gray-text;
}

.card-wrapper__message {
  margin-top: 48px;
}

.card__button {
  background-color: $fhhealth-color-black;
  color: $fhhealth-color-white;
  border-radius: 5px;
  font-size: 20px;
  padding: 16px 0;
}
