.chat-wrapper {
  width: 30%;
}

.chat-wrapper__kit-info {
  padding: 20px;
  position: relative;
  background-color: $fhhealth-color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  h4, h5 {
    color: $fhhealth-color-dark-black;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 17px;
  }

  p {
    margin: 16px 0 3px;
    color: $fhhealth-color-light-gray-text;
  }
}

.messenger {
  display: flex;
  flex-direction: column;
  height: calc(100% - 114px);
}

.messenger__header {
  padding: 20px 0;
  font-size: 17px;
  text-align: center;
  background-color: $fhhealth-color-white;
  color: $fhhealth-color-orange;
  text-transform: uppercase;
  border-bottom: 3px solid $fhhealth-color-orange;
}

.messenger__body {
  background-color: #fafafa;
  height: 100%;
}

.messenger__footer {
  display: flex;
  height: 56px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.08);
}

.messenger__footer-input {
  border: none;
  color: #302e2f;
  font-size: 16px;
  padding: 18px;
  width: 100%;

  &::placeholder {
    color: $fhhealth-color-light-gray-text;
  }
}

.messenger__footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f8f6;
  padding: 20px 12px;
  max-width: 56px;
  width: 56px;

  input {
    display: none;
  }

  label {
    cursor: pointer;
  }
}
