@import "../abstracts/mixins";

.chat-wrapper {
  width: 35%;
  height: calc(100vh - 85px);
}

.chat-wrapper__kit-info {
  padding: 20px;
  position: relative;
  background-color: $fhhealth-color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

  h4, h5 {
    color: $fhhealth-color-dark-black;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 17px;
  }

  p {
    margin: 16px 0 3px;
    color: $fhhealth-color-light-gray-text;
  }
}

.messenger {
  @include setDisplay(flex, unset, unset, column);
  height: calc(100% - 114px);
}

.messenger__header {
  padding: 20px 0;
  font-size: 17px;
  text-align: center;
  background-color: $fhhealth-color-white;
  color: $fhhealth-color-orange;
  text-transform: uppercase;
  border-bottom: 3px solid $fhhealth-color-orange;

  &_mobile {
    display: none;
    border: none;
    color: unset;

    button {
      @include setPosition(absolute, unset, unset, unset, 20px);
    }
  }
}

.messenger__body {
  overflow: scroll;
  background-color: #fafafa;
  height: 100%;
  padding: 24px 16px;
}

.messenger__footer {
  height: 56px;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.08);

  form {
    display: flex;
  }
}

.messenger__footer-input {
  border: none;
  color: #302e2f;
  font-size: 16px;
  padding: 18px;
  width: 100%;

  &::placeholder {
    color: $fhhealth-color-light-gray-text;
  }
}

.messenger__footer-button {
  @include setDisplay(flex, center, center);
  @include setElementSize(56px, auto);
  background-color: #f9f8f6;
  padding: 20px 12px;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    pointer-events: none;
  }
}
