.preload {
  //position: absolute;
  z-index: 99;
  background-color: #fff;
  @keyframes placeHolderShimmer {
    0% {
      background-position: -468px 0
    }
    100% {
      background-position: 468px 0
    }
  }

  .preload__style {
    border: none;
    opacity: 1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: $fhhealth-color-light-gray-text linear-gradient(to right, #fafafa 8%, #eaeaea 38%, #fafafa 54%);
    background-size: 1000px 640px;
    position: relative;
  }

  .preload__lines {
    padding: 0;
    pointer-events: none;
    border-radius: 16px;

    &_sm {
      height: 10px;
    }

    &_md {
      height: 15px;
    }

    &_lg {
      height: 32px;
    }

    &_width-sm {
      width: 50px;
    }

    &_width-md {
      width: 150px;
    }

    &_width-lg {
      width: 250px;
    }
  }

  .user-logo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .header-wrapper .test-info {
    width: 100%;
    justify-content: space-evenly;
  }

  .user-info .answer {
    margin: 2px 0 12px 0;
  }
}
