@import '../abstracts/mixins';

.conference-header {
  @include setDisplay(flex, space-between, center);
  background-color: $fhhealth-color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 22px 24px;
  z-index: 9;
}

.conference-header__logo {
  margin: 10px auto 10px 10px;
}

.conference-header__items {
  @include setDisplay(flex, unset, center);
}

.conference-header__items-button {
  @include setElementSize(24px, 24px);
}

.lang-switcher {
  margin-right: 20px;

  span {
    margin-right: 6px;
  }
}

.lang-switcher__current-lang {
  @include setDisplay(flex, unset, center);
}
