.main-footer {
  width: 100%;
  background-color: #27303b;
  display: grid;
  justify-content: center;
  align-items: center;
  color: $fhhealth-color-white;
  grid-row-gap: 32px;
  padding: 32px 32px 32px 0;
  text-align: center;
  line-height: 1.5;

  .helpBlock {
    font-family: $fhhealth-font-DM-regular;
  }

  span {
    color: $fhhealth-color-orange;
    text-decoration: underline;
  }
}
