@import '../abstracts/mixins';

.footer-wrapper {
  @include setFontAppearance(unset, unset, normal, normal);
  .important-information {
    padding: 24px;
    width: 88%;
    .content {
      a {
        color: blue;
      }
    }
    &__title{
      @include setFontAppearance($fhhealth-font-SF-medium, unset, normal, normal);
      @include setFontSizes(22px, 1.27, normal);
      color: $fhhealth-color-dark-black;
      margin-bottom: 18px;
    }
    &__description {
      @include setFontAppearance($fhhealth-font-DM-regular, unset, normal, normal);
      @include setFontSizes(15px, -0.24, normal);
      color: $fhhealth-color-dark-black;
    }
  }
  .doctor-info {
    @include setDisplay(flex, unset, center);
    margin-top: 30px;
    border-bottom: solid 1px $fhhealth-color-solid-border;
    padding-bottom: 20px;
    &__signature {
      margin-left: 24px;
    }
    &__title {
      @include setFontAppearance($fhhealth-font-PT-bold, unset, normal, normal);
      @include setFontSizes(14px, normal, normal);
      @include setElementSize(160px, auto);
      color: $fhhealth-color-black;
      padding-left: 20px;
      padding-top: 20px;
    }
  }
  .legal-notice {
    padding: 24px;
    width: 88%;
    color: $fhhealth-color-light-black;
    h4 {
      @include setFontAppearance($fhhealth-font-SF-medium, unset, normal, normal);
      @include setFontSizes(22px, 1.27, normal);
      margin-bottom: 8px;
    }
    .content {
      @include setFontAppearance($fhhealth-font-DM-regular, unset, normal, normal);
      @include setFontSizes(10px, -0.16px, normal);
    }
    .content:last-child {
      margin-top: 16px;
    }
  }
}
