.header-wrapper{
  display: flex;
  flex-direction: column;
  .test-type-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 64px;
    padding: 24px;
    .test-info{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      margin-left: 20px;
      &__result {
        font-family: $fhhealth-font-SF-bold;
        font-size: 34px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        color: $fhhealth-color-dark-black;
      }
      &__date {
        font-family: $fhhealth-font-DM-medium;
        font-size: 15px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: -0.24px;
        color:$fhhealth-color-light-gray-text;
      }
    }
  }
  .user-info{
    display: flex;
    flex-direction: row;
    border-top: solid 1px $fhhealth-color-solid-border;
    border-bottom: dashed 1px $fhhealth-color-dashed-border;
    .left-column {
      display: flex;
      flex-direction: column;
      min-width: 55%;
      border-right: solid 1px $fhhealth-color-solid-border;
      padding: 24px 0 20px 24px;
      .field-answer-wrapper {
        display: flex;
        flex-direction: column;
      }
    }
    .right-column {
      display: flex;
      flex-direction: row;
      width: 45%;
      .right-column__first {
        border-right: solid 1px $fhhealth-color-solid-border;
        padding: 16px 0 4px 16px;
        width: 60%;
        .right-column__first__top {
          display: flex;
          flex-direction: column;
        }
        .right-column__first__bottom {
          display: flex;
          flex-direction: row;
          .right-column__first__bottom__left {
            display: flex;
            flex-direction: column;
          }
          .right-column__first__bottom__right {
            display: flex;
            flex-direction: column;
            padding-left: 24px;
          }
        }
      }
      .right-column__second {
        padding: 16px 0 4px 16px;
        width: 40%;
      }
    }
  }
}
.pcr-green{
  svg{
    g{
      circle{
        fill:green;
      }
      g{
        path{
          fill: green;
        }
      }

    }

  }
}
.pcr-red{
  svg{
    g{
      circle{
        fill:red;
      }
      g{
        path{
          fill: red;
        }
      }

    }

  }
}
.pcr-blue{
  svg{
    g{
      circle{
        fill:blue;
      }
      g{
        path{
          fill: blue;
        }
      }

    }

  }
}
.pcr-yellow{
  svg{
    g{
      circle{
        fill:yellow;
      }
      g{
        path{
          fill: yellow;
        }
      }

    }

  }
}
.anti-body-green{
  svg{
    g{
      fill:green;
    }

  }
}
.anti-body-red{
  svg{
    g{
      fill:red;
    }

  }
}
.anti-body-blue{
  svg{
    g{
      fill:blue;
    }

  }
}
.anti-body-yellow{
  svg{
    g{
      fill:blue;
    }

  }
}