@import '../abstracts/mixins';

.main-header {
  @include setDisplay(flex, unset, unset);
  width: 100%;
  background-color: $fhhealth-color-white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.main-header__logo {
  margin: 0 auto;
}

.fullWidthMenu {
  @include setDisplay(flex, space-between, center);
  width: 100%;
  background: $fhhealth-color-white;
  min-height: 60px;
  font-family: $fhhealth-font-DM-medium;
  position: relative;
  .icon {
    cursor: pointer;
  }
}

.logOut {
  @include setPosition(absolute, unset, unset, unset, 0);
  @include setElementSize(106px, 46px);
  @include setBorder(1px, rgba(151, 151, 151, 0.25));
  @include setDisplay(flex, flex-end, center);
  border-radius: 8px;
  padding-right: 8px;
  color: rgba(39, 48, 59, 0.6);
  background-color: $fhhealth-color-white;
}

.rectangle-13 {
  position: absolute;
  cursor: pointer;
  right: 26px;
}
