.head{
  width: 100%;
  display: flex;
  justify-content: center;
}
.fullWidthMenu{
  width: calc((100% - 48px));
  display: flex;
  background: $fhhealth-color-white;
  min-height: 60px;
  justify-content: space-between;
  align-items: center;
  font-family: $fhhealth-font-DM-medium;
  position: relative;
  .icon {
    cursor: pointer;
  }
}
.logOut{
  position: absolute;
  width: 106px;
  height: 46px;
  right: 0;
  border-radius: 8px;
  border: solid 1px rgba(151, 151, 151, 0.25);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
  color: rgba(39, 48, 59, 0.6);
}
.rectangle-13 {
  cursor: pointer;
}