@import '../abstracts/mixins';

.message {
  display: flex;
  margin: 20px 0 12px;

  &_me {
    justify-content: flex-end;
    text-align: right;

    .message__text {
      background-color: $fhhealth-color-carcass-border;
      color: $fhhealth-color-black;
      border-bottom-right-radius: unset;
      border-bottom-left-radius: 18px;
    }

    .message__date {
      right: 0;
    }

    .message__body {
      align-items: flex-end;
    }
  }
}

.message__body {
  @include setDisplay(flex, unset, flex-start, column);
}

.message_date {
  margin-bottom: 20px;
}

.message__text {
  @include setFontSizes(17px, 22px, unset);
  color: $fhhealth-color-white;
  padding: 8px 14px;
  border-radius: 18px;
  border-bottom-left-radius: unset;
  background-color: $fhhealth-color-black;
}
