@import '../abstracts/mixins';

.analysis-wrapper{
  border-bottom: 1px dashed $fhhealth-color-dashed-border;
  background-color: $fhhealth-color-grey-bg;
  &__title{
    @include setFontAppearance($fhhealth-font-SF-medium, 500, normal, normal);
    @include setFontSizes(22px, 1.27, normal);
    padding: 24px 24px 14px 24px;
    color: $fhhealth-color-dark-black;
  }
  &__top-part{
    @include setDisplay(flex, space-between, unset);
    padding: 0 24px;
  }
  &__bottom-part{
    @include setDisplay(flex, space-between, unset);
    padding: 24px 24px 24px 24px;
  }
  &__results{
    display: flex;
    border-top: solid 1px $fhhealth-color-test-analysis-data-border;
    border-bottom: solid 1px $fhhealth-color-test-analysis-data-border;
    border-radius: 5px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: $fhhealth-color-white;
  }
  &__first-result{
    @include setFontAppearance($fhhealth-font-DM-medium, 500, normal, normal);
    @include setFontSizes(15px, 1.2, -0.24);
    @include setDisplay(flex, unset, center);
    @include setElementSize(120px, 42px);
    color: $fhhealth-color-light-black;
    padding-left: 16px;
    border-left:solid 1px $fhhealth-color-test-analysis-data-border;
    border-right:solid 1px $fhhealth-color-test-analysis-data-border;
  }
  &__second-result{
    @include setFontAppearance($fhhealth-font-DM-medium, 500, normal, normal);
    @include setFontSizes(15px, 1.2, -0.24);
    @include setDisplay(flex, unset, center);
    color: $fhhealth-color-light-black;
    padding: 10px 18px;
    min-width: 32px;
  }
  &__third-result{
    @include setFontAppearance($fhhealth-font-DM-medium, 500, normal, normal);
    @include setFontSizes(15px, 1.2, -0.24);
    @include setDisplay(flex, unset, center);
    color: $fhhealth-color-light-black;
    padding: 0 28px;
    border-left:solid 1px $fhhealth-color-test-analysis-data-border;
    border-right:solid 1px $fhhealth-color-test-analysis-data-border;
    min-width: 24px;
  }
  &__forth-result{
    @include setFontAppearance($fhhealth-font-DM-medium, 500, normal, normal);
    @include setFontSizes(15px, 1.2, -0.24);
    @include setDisplay(flex, unset, center);
    color: $fhhealth-color-light-black;
    padding: 0 26px;
    border-right:solid 1px $fhhealth-color-test-analysis-data-border;
  }
  &__bottom-title{
    @include setFontAppearance($fhhealth-font-DM-bold, bold, normal, normal);
    @include setFontSizes(13px, 1.38, -0.08);
    color: $fhhealth-color-orange;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
}
