@import '../abstracts/mixins';

.test-result-wrapper {
  @include setDisplay(flex, center, center);
  width: 100%;
  margin: 1px 0 0;
  background-color: $fhhealth-color-blue-bg;
  .test-result-text {
    @include setFontAppearance($fhhealth-font-DM-bold, bold, normal, normal);
    @include setFontSizes(20px, 1.25, normal);
    text-align: center;
    color: $fhhealth-color-dark-black;
    text-transform: uppercase;
    margin: 24px 24px;
  }
}
.wrapper__negative{
  background-color: $fhhealth-color-green-btn;
}
.wrapper__positive{
  background-color: $fhhealth-color-red-bg
}
.wrapper__inconclusive{
  background-color: $fhhealth-color-blue-bg
}
.wrapper__presumptivepositive{
  background-color: $fhhealth-color-red-bg
}
.wrapper__biorad-color{
  background-color:$fhhealth-color-neutral-bg;
  border-bottom: 1px solid $fhhealth-color-test-analysis-data-border;
}
.GREEN{
  background-color: $fhhealth-color-green-btn;
  padding: 4px;
}
.RED{
  background-color: $fhhealth-color-red-btn;
  padding: 4px;
}
.YELLOW{
  background-color: $fhhealth-color-blue-btn;
  padding: 4px;
}
.GREEN-svg{
  fill: $fhhealth-color-green-btn;
}
.RED-svg{
  fill: $fhhealth-color-red-btn;
}
.YELLOW-svg {
  fill: $fhhealth-color-blue-btn;
}
.span_test_result {
  padding: 4px;
  border-radius: 4px;
}
.span {
  &__presumptivepositive{
    background-color: $fhhealth-color-red-btn;
  }
  &__negative {
    background: $fhhealth-color-green-btn;
  }
  &__positive {
    background-color: $fhhealth-color-danger;
  }
  &__inconclusive {
    background-color: $fhhealth-color-dark-blue-bg;
  }
  &__indeterminate {
    background-color: $fhhealth-color-dark-blue-bg;
  }
  &__invalid {
    background-color: $fhhealth-color-dark-blue-bg;
  }
}
