@import '../abstracts/mixins';

.video-wrapper {
  position: relative;
  @include setDisplay(flex, center, center);
  width: 65%;
}

.video-wrapper__content {
  text-align: center;

  h4 {
    font-size: 32px;
    color: $fhhealth-color-dark-black;
    margin: 37px 0 16px;
  }

  p {
    @include setFontSizes(20px, 1.25, unset);
    color: $fhhealth-color-light-gray-text;

    &:last-child {
      margin-top: 48px;
    }
  }
}

.video-wrapper__button {
  @include setElementSize(335px, auto);
  padding: 20px 0;
  font-size: 20px;
  border-radius: 5px;
  background-color: #202832;
  color: $fhhealth-color-white;
  margin-top: 48px;

  &:active {
    background-color: #323c48;
  }
}

#videoStream {
  @include setPosition(absolute, 0, unset, 0, unset);
  width: 100%;
  height: 100%;
}

#myVideoStream {
  @include setPosition(absolute, 28px, unset, unset, 28px);
  @include setElementSize(unset, 192px);
  @include setBorder(6px, $fhhealth-color-carcass-border);
  border-radius: 5px;
}
