@import "../abstracts/mixins";

.conference-wrapper {
  position: relative;
  display: flex;
  height: 100%;
}

.conference-header__chat-button,
.conference-header__logout_mobile,
.messenger__header_mobile {
  display: none;
}

.chat-error-notification {
  @include setPosition(absolute, -20px, unset, unset, -294px);
  transition: 0.5s cubic-bezier(0.1, 0.51, 0.12, 0.99);
  z-index: 9;

  &_active {
    right: 45px;
  }
}

.error-notification {
  @include setDisplay(flex, center, center);
  @include setBorder(1px, rgba(255, 57, 77, 0.5));
  background-color: #fbc9ce;
  padding: 20px;
  border-radius: 12px;

  .error-notification__close {
    @include setPosition(absolute, -9px, 0, unset, -9px);
    background-color: #c2c2c2;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  p {
    color: $fhhealth-color-black;
    font-size: 17px;
    line-height: 18px;
    margin-left: 10px;
  }
}
