@import "src/styles/scss/abstracts/mixins";

@media (max-width: $fhhealth-media-xs) {
  #videoStream {
    height: 100%;
    object-fit: cover;
  }

  #myVideoStream {
    width: 95px;
    height: 134px;
    object-fit: cover;
  }

  .call-menu {
    display: none;

    &__button_gray {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &__button_mute {
      margin: 0 40px;
    }
  }

  .call-menu-mobile {
    text-align: center;
    display: block;
    width: 100%;
    bottom: 34px;
  }

  .chat-error-notification {
    @include setElementSize(234px, unset);
    z-index: 99;
    top: 30px;

    &_active {
      right: 20px;
    }
  }

  .error-notification {
    padding: 15px 16px 15px;

    p {
      font-size: 15px;
    }
  }
}
