@media (max-width: $fhhealth-media-sm) {
  .testResult-header {

    .testResult-header__type {
      padding: 20px;
    }

    .testResult-header__user {
      flex-direction: column;
    }

    .testResult-header__user-info {
      padding: 20px 0 0 20px;
      flex-direction: column;
    }

    .testResult-header__user-creds {
      width: 80%;
    }

    .testResult-header__user-location {
      padding: 16px 0 4px 20px;
    }
  }
}

@media (max-width: $fhhealth-media-xs) {
  .testResult-header {

    .testResult-header__user {
      .testResult-header__user-info {
        padding: 20px 20px 0 20px;
        justify-content: space-between;
      }

      .testResult-header__user-creds {
        flex-direction: column;
        width: 100%;

        & > div {
          border-right: none;
          border-bottom: solid 1px $fhhealth-color-solid-border;
          width: 100%;
        }
      }

      .testResult-header__user-data {
        width: 100%;
        padding: 16px 0 4px 20px;
      }
    }
  }
}
