@import "src/styles/scss/abstracts/mixins";

@media (max-width: $fhhealth-media-sm) {
  .analysis-wrapper {
    &__title{
      padding: 24px 20px 0 20px;
    }
    &__top-part {
      @include setDisplay(flex, unset, unset, column);
      width: fit-content;
      padding: 0 20px;
    }
    &__bottom-part {
      @include setDisplay(flex, unset, unset, column);
      width: fit-content;
      padding: 0 20px 24px 20px;
    }
    &__parameter{
      margin-top: 24px;

      .analysis-wrapper__result {
        padding: 9px;
        font-size: 14px;

        &:first-child {
          width: auto;
        }
      }
    }
    &__results > div{
      min-width: auto;
    }
  }
}
